<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Setting up logging to console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Setting to write log to file -->
    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- logs klasörü altında app.log dosyası oluşacak -->
        <file>logs/app.log</file>

        <!-- Günlük olarak dönen log dosyaları -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Son 7 gün saklanır -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger settings -->
    <logger name="com.sisterslab.bookerapp" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <!-- Root logger (for the entire system) -->
    <root level="DEBUG">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileAppender"/>
    </root>

</configuration>
